<!DCTYPE html>

<html>
<h1>RL Models</h1>
<p>RL models are a way of creating artifical intelligence through a process called semi-supervised reinforcement learning.
This process looks to take a series of algorithms to teach a mathematical model to show competence in certain tasks. Here at
<a href="http://karpathy.github.io/2016/05/31/rl/">this page</a> you can learn more about RL models and how they have been used on tasks such as teaching machines to play atari or build with legos.</p>

</html>

